<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1437</integer>
	<key>capHeight</key>
	<integer>1437</integer>
	<key>copyright</key>
	<string>Copyright (c) 2007 by vernon adams. All rights reserved.</string>
	<key>descender</key>
	<integer>-417</integer>
	<key>familyName</key>
	<string>Mako</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Mako</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>2141</integer>
	<key>openTypeHheaDescender</key>
	<integer>-538</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Mako</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2007 by vernon adams. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>vernon adams</string>
	<key>openTypeNameManufacturerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Mako</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>vernonadams: Mako: 2007</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>512</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>8993</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>1800</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>8348</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>8993</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>6128</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>8348</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2141</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-538</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>60</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2141</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-538</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039629999999999999</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>24</integer>
		<integer>48</integer>
		<integer>1031</integer>
		<integer>1053</integer>
		<integer>1437</integer>
		<integer>1464</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-27</integer>
		<integer>0</integer>
		<integer>1075</integer>
		<integer>1096</integer>
		<integer>1434</integer>
		<integer>1462</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-438</integer>
		<integer>-438</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Mako</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Mako</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-461</integer>
		<integer>-417</integer>
		<integer>0</integer>
		<integer>24</integer>
		<integer>-373</integer>
		<integer>-417</integer>
		<integer>48</integer>
		<integer>24</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>142</integer>
		<integer>103</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>185</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-334</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>41</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Mako</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Mako is a trademark of vernon adams.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1031</integer>
	<key>year</key>
	<integer>2007</integer>
</dict>
</plist>
