<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.Aleft</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>afii10017</string>
	</array>
	<key>.Aright</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>W</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>afii10017</string>
	</array>
	<key>.Hleft</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>uni0400</string>
	</array>
	<key>.Hright</key>
	<array>
		<string>H'</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>afii10057</string>
		<string>uni040D</string>
	</array>
	<key>.Oleft</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>OE</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.Oright</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>D</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>.Xleft</key>
	<array>
		<string>X'</string>
		<string>afii10039</string>
		<string>afii10024</string>
	</array>
	<key>.Xright</key>
	<array>
		<string>X'</string>
		<string>K</string>
		<string>afii10024</string>
		<string>afii10039</string>
		<string>afii10061</string>
		<string>afii10028</string>
	</array>
	<key>.dright</key>
	<array>
		<string>d'</string>
		<string>q</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10081</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10093</string>
		<string>uni045D</string>
		<string>afii10193</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>.e_o</key>
	<array>
		<string>o'</string>
		<string>e</string>
		<string>c</string>
	</array>
	<key>.eright</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>oe</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10070</string>
	</array>
	<key>.l</key>
	<array>
		<string>l'</string>
		<string>i</string>
		<string></string>
	</array>
	<key>.nleft</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>thorn</string>
		<string></string>
	</array>
	<key>.nright</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>.oleft</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
		<string>oe</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
	<key>.oright</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
	</array>
	<key>.vleft</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>afii10085</string>
		<string>afii10110</string>
	</array>
	<key>.xleft</key>
	<array>
		<string>x'</string>
		<string>afii10072</string>
		<string>afii10087</string>
	</array>
	<key>.xright</key>
	<array>
		<string>x'</string>
		<string>k</string>
		<string>afii10072</string>
		<string>afii10076</string>
		<string>afii10087</string>
		<string>afii10109</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>uni0205</string>
		<string>uni0207</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>g</string>
		<string>q</string>
		<string>oslash</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>_KERN_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_KERN_C_1ST</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
	</array>
	<key>_KERN_D_1ST</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
	</array>
	<key>_KERN_E_1ST</key>
	<array>
		<string>E'</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>_KERN_I_1ST</key>
	<array>
		<string>I'</string>
		<string>H</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>_KERN_I_2ND</key>
	<array>
		<string>I'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Eth</string>
		<string>F</string>
		<string>H</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Thorn</string>
	</array>
	<key>_KERN_L_1ST</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
	</array>
	<key>_KERN_O_1ST</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>_KERN_O_2ND</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>_KERN_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>_KERN_T</key>
	<array>
		<string>T'</string>
		<string>uni021A</string>
	</array>
	<key>_KERN_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>_KERN_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_KERN_Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
	</array>
	<key>_KERN_a_1ST</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_KERN_a_2ND</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_KERN_b_2ND</key>
	<array>
		<string>b'</string>
		<string>thorn</string>
	</array>
	<key>_KERN_c_1ST</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>_KERN_d_2ND</key>
	<array>
		<string>d'</string>
		<string>g</string>
		<string>q</string>
	</array>
	<key>_KERN_e_1ST</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>_KERN_f_2ND</key>
	<array>
		<string>f'</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>_KERN_guilsinglleft</key>
	<array>
		<string>guilsinglleft'</string>
		<string>guillemotleft</string>
	</array>
	<key>_KERN_guilsinglright</key>
	<array>
		<string>guilsinglright'</string>
		<string>guillemotright</string>
	</array>
	<key>_KERN_h_2ND</key>
	<array>
		<string>h'</string>
		<string>k</string>
	</array>
	<key>_KERN_hyphen</key>
	<array>
		<string>hyphen'</string>
		<string>emdash</string>
		<string>endash</string>
	</array>
	<key>_KERN_i_1ST</key>
	<array>
		<string>i'</string>
		<string>dotlessi</string>
		<string>fi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_KERN_i_2ND</key>
	<array>
		<string>i'</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_KERN_l_1ST</key>
	<array>
		<string>l'</string>
		<string>fl</string>
		<string>lslash</string>
	</array>
	<key>_KERN_l_2ND</key>
	<array>
		<string>l'</string>
		<string>lslash</string>
	</array>
	<key>_KERN_n_1ST</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>_KERN_n_2ND</key>
	<array>
		<string>n'</string>
		<string>m</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>_KERN_o_1ST</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_o_2ND</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_period_1ST</key>
	<array>
		<string>period'</string>
		<string>comma</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>_KERN_period_2ND</key>
	<array>
		<string>period'</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>_KERN_quoteleft</key>
	<array>
		<string>quoteleft'</string>
		<string>quotedblleft</string>
	</array>
	<key>_KERN_quoteright</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
	</array>
	<key>_KERN_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
	</array>
	<key>_KERN_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>_KERN_t</key>
	<array>
		<string>t'</string>
		<string>uni021B</string>
	</array>
	<key>_KERN_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_KERN_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_KERN_z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
